<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BagBuddy</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="font-['helvetica_now_display']">
    <nav class="w-full flex justify-between px-5 py-3">
        <h3 class="text-xl">BagBuddy</h3>
        <%#  here we are saying that if we have send any value ex. loggedin:false during rendering index.ejs page than typeof it will be not undefined so in this case we will kepp the value same as loggedin value sent, if no loggedin value is sent from slash route than we will change it to true %>
        <% var loggedin = typeof loggedin !=='undefined' ? loggedin : true %>
        <% if(loggedin){%>
            <div class="flex gap-5">
            <a href="/shop">Shop</a>
            <a href="/cart">Cart</a>
            <a href="/account">My Account</a>
            <a class="text-red-600" href="/users/logout">Logout</a>
        </div>
        <%}%>
    </nav>